/**********
 Setting Variables
 **********/

$color-logo: #4689c7;
$color-text: #000;
$color-bg: #fff;
$color-link: #000;
$color-link-hover: #000;
$color-info: #000;
$breadcrumb-divider: quote(">");

/**********
 Main Style
 **********/

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding-left: 0 !important;
  padding-right: 0 !important;
  font-family: 'Lato', serif;
  min-height: 100vh;
  color: $color-logo;
}

.logo {
  width: 20px;
  height: 20px;
}

nav.socialLink a {
  color: $color-logo;
}

.quickLink {
  background: transparent !important;
  text-decoration: none;
}

.quickLink li {
  font-size: 10px;
  color: $color-logo;
}

.quickLink li a {
  color: $color-logo;
  text-decoration: none;
}

.myName {
  font-size: 60px;
  color: $color-logo;
  text-shadow: 3px -3px 2px rgba(0, 133, 255, 0.1);
}

.divider {
  top: -10px;
  z-index: 9999;
  border-top: 1px solid $color-logo;
  -webkit-transform: rotate(1deg);
  -moz-transform: rotate(1deg);
  -ms-transform: rotate(1deg);
  -o-transform: rotate(1deg);
  transform: rotate(1deg);
}

canvas {
  display: block;
  vertical-align: bottom;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 25%;
  background-color: $color-bg;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.card {
  color: $color-text;
}

img {
  width: 140px;
  height: 140px;
}

button {
  color: $color-logo;
}