html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  width: 95%;
  height: 100%;
  margin: auto;
  padding: 0;
}

body {
  font-family: 'Lato', cursive;

}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.flex-item1 {
  align-self: flex-start;
  flex-grow: 0.5;
}

.flex-item2 {
  align-self: flex-end;
}

img {
  width: 400px;
  height: 400px;
}
